<div class="content movies-page">

	<h1>Movies</h1>

	<div class="col-md-9">
		<div class="right-side">
		<h4>Navigation-------------</h4>
		</div>

		<div  class="list-video" >
			<div ng-repeat="movie in movies | filter:search | orderBy:'-id' " class="video-item">
				<a href="#/movies/watch/{{ movie.title }}" style="float:left;overflow:hidden;">
					<img class="img-responsive" ng-src="{{ movie.image }}" alt="">
				</a>
				<a href="#/movies/watch/{{ movie.title }}" style="color:red;">
					<p class="title"><b> {{ movie.title }} - ({{ movie.released }}) </b></p>
				</a>
				<p class="genre"> {{ movie.genres }} </p>
				<div class="scroll">
					<p class="description">
					{{ movie.summary }}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<h1>Side Navigation</h1>
	</div>
	



</div>